<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form method="GET" action="/run">
            <div>
                <span>Click to Train and Predict:</span>
                <div>
                    <button type="submit">Run</button>
                </div>
            </div>
        </form>
        <form action="/run" method="get">
            <input type="text" name="sepal_length" />
            <input type="text" name="sepal_width" />
            <input type="text" name="petal_length" />
            <input type="text" name="petal_width" />
            <button type="submit">click</button>
        </form>
    </body>
</html>
